<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Security.Asymmetric" version="1.0.6627.26140" targetFramework="net461" />
  <package id="Security.Common" version="1.0.6627.25047" targetFramework="net461" />
  <package id="Security.Symmetric" version="1.0.6627.25344" targetFramework="net461" />
</packages>